/*global*/
* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body {
  max-width: 600px;
  margin: auto;
  font-family:'arial';
  color:#fff;
  -webkit-filter: blur(0px);
  font-size:1rem;
  height: 100%;
}

#parent_div {

  position:relative;
  height:800px;
  width:600px;
}

#title {
  font-family:'arial';
  color:#000;
}
#bg-image {

/*  background: repeating-linear-gradient(
  45deg,
  #606dbc,
  #606dbc 10px,
  #465298 10px,
  #465298 20px
); */

max-width: 100%;
    height: auto;
  /* The image used */
  background-image: url("../images/bail.jpg");

position:absolute;
top:0;
left:0;
right:0;
bottom:0;
  z-index: -1;
  /* Add the blur effect */
  filter: blur(8px) opacity(8);
  -webkit-filter: blur(8px) opacity(88%);

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center; */
  background-repeat: no-repeat; */
  background-size:100%;
}

.bg-text {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}

button {
  background:#eee;
  border:0;
  color:#777;
  cursor:pointer;
  font-family:'courier new';
  font-size:1rem;
  padding:.5rem;
}
button:active {
  background:#ddd;
}
[disabled] {
  background:#eee;
  color:#ccc;
}
fieldset {
  color:#777;
  padding:1rem;
}
fieldset legend {
  border:1px solid #777;
  padding:0 .5rem;
}
label {
  display:inline-block;
  text-align:right;
  vertical-align:middle;
  width:200px;
}
select {
  background:#ddd;
  text-indent: 0.01px;
  text-overflow: "";
}
p {
  padding:1rem;
}
/*header*/
body > header {
  border-bottom:1px solid #ccc;
}
body > header h1 {
  font-size:2rem;
  padding:1rem 1rem 0 1rem;
}
body > header h2 {
  font-size:1rem;
  padding:0 1rem;
}
/*nav*/
body > header nav {
  padding:1rem;
}
body > header nav li {
  display:inline-block;
  padding-bottom:.5rem;
}
body > header nav li a {
  color:#777;
  padding:.5rem;
  text-decoration:none;
}
body > header nav li a.active {
  background:#eee;
}
/*main*/
main section {
  padding:1rem;
}
main section article {
  padding-bottom:2rem;
}
main section article h1 {
  font-size:1.5rem;
}
main section article h2 {
  font-size:1rem;
  margin-bottom:1rem;
}
/*main form*/
main input,
select,
textarea {
  background:#ddd;
  border:0;
  display:inline-block;
  font-family:'arial';
  color:#fff;
  margin-bottom:1rem;
  padding:.5rem;
  vertical-align:middle;
}
main select,
textarea {
  width:300px;
}
