<section>
    <fieldset>
      <legend>Welcome to PetBuddy</legend>
      <div id=homediv>
        <p>
          PetBuddy allows you to manage your pets. You can manage your pet health, happiness, feeding times and improve your overall interactions with your pet.

          To start:<br />
          1. Create your user profile<br />
          2. Add pet profiles for your pets<br />
          3. Enjoy better interactions with your pet through guidance from this web app!<br />
          <br />
          iOS and Android apps for PetBuddy are also in the works, please stay tuned!

        </p>
      </div>
    </fieldset>
<section>
